@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    font-family: 'Rajdhani', sans-serif;
    max-width: 100%;
    min-height: auto;
}
/* quitar el scrollbar */
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

header{
    background-color: transparent;
}
nav{
display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    position: absolute;
    background-color: transparent;
    margin: 15px 0px 0px 0px;
}
.nav_right{
    margin-right: -5rem;
    background-color: transparent;
    position: relative;
    z-index: 4;
}
.NavImage{
    width: 5rem;
    opacity: 0.9;
    border-radius: 50%;
    position: fixed;
    z-index: 3;
}
.NavImage:hover {
	opacity: 0.8;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
    box-shadow: rgb(38, 57, 77) 10px 20px 25px -5px;
}
.nav_left .linkTop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

ul{
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1rem
}
li{
    background-color: transparent;
    cursor: pointer;
    margin-right: 2rem;
}
.nav_right_a{
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
    font-weight: 500;
}
.nav_right_a:hover, .nav_right_a:active{
    color: rgb(33,34,61);
  text-shadow: rgba(52,152,202, 0.95) 0px 1px 2px;
}
.nav_right_a:link, .nav_right_a:visited, .nav_right_a:active {
    text-decoration:none;
}
.Hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    position: relative;
}
.HImage{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    opacity: 0.3;
}
.AboutUs{
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: url("/images/tattoohouse.jpg");
 width: 100%;
 height: 75vh;
 opacity: 0.9;
}
.AboutUs_title{
    margin-top: 9rem;
    color: rgb(33,34,61);
    text-shadow: rgba(52,152,202, 0.95) 0px 1px 2px;
    font-size: 6rem;
    text-align: right;
}
.AboutUs_table{
    color: black;
    margin: 1rem;
    opacity: 0.8;
}
.AboutUs_table_head{
background-color: transparent;
}
.AboutUs_table_tr{
    background-color: transparent;
}
.AboutUs_table_body{
    color: black;
    background-color: transparent;
}
th {
    border-radius: 10px;
    background-color: transparent;
    color: grey;
    padding: 1rem;
    font-size: 2rem;
    text-align: left
}
td, p{
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}
caption{
    color: rgb(33,34,61);
    text-shadow: rgba(52,152,202, 0.95) 0px 1px 2px;
    font-size: 6rem;
    text-align: right;
}

/* OUR ARTIST IS MADE IN FLEX */
.ourArtist{
    margin-top: 9rem;
}
.ourArtist_mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.ourArtist_card{
    display: block;
    width: 50%;
}
.ourArtist_title{
    margin-top: 9rem;
    color: rgb(33,34,61);
    text-shadow: rgba(52,152,202, 0.95) 0px 1px 2px;
    font-size: 6rem;
    text-align: right;
    font-weight: 500;
}
.ourArtist_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ourArtist_name{
    margin: 76px 16px 16px 16px;
    color: grey;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.ourArtist_image{ 
    transition: transform .5s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    object-fit: contain;
    border-radius: 70px;
}
.ourArtist_image:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
.ourArtist_p{
    width: 50%;
    padding: 0;
    padding-top: 1rem;
    color: grey;
}

/* GALLERY IS MADE IN GRID */
.Gallery{
    margin-top: 11rem;
}
.Gallery_table{
    margin: 1rem;
}
.Gallery_table_tr{
    display: grid;
    grid-template-columns:repeat(3, minmax(10px, 1fr));
    grid-gap: 20px 100px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.Gallery_table_td{
    margin: 0;
    padding: 0;
}
.Gallery_table_image{
    width: auto;
    height: 250px;
    inline-size: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: opacity(.5);
    transition: transform .3s ease;
}
.Gallery_table_image:hover {
    filter: opacity(1);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15)
}
.Contact_header{
    width: 100%;
    height: 11rem;
}
.Contact_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}
.Contact_navImage{
    width: 7rem;
    opacity: 0.9;
    border-radius: 50%;
}
.Contact_navH1{
    font-size: 3rem;
    color: #21223d;
}
.Contact_title_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contact_form{
    display: block;
    text-align: center;
    margin: 2rem;
}
.Contact_p_form{
    margin: 1rem;
}
.Contact_title{
    color: white;
    font-weight: 500;
    font-size: 4rem;
}
label{
    font-size: 2rem;
    color: #21223d;
}
input{
    color: grey;
    text-align: center;
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
}
input:focus{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline: none;
}
#File{
    font-size: 1rem;
    background-color: black;
    color: grey;
}